<!DOCTYPE html> 
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1> Welcome to gypsy's planet</h1>
    <p>You will not find any place better</p>
  </body>
</html>